<div class='row'>
    <h3>The About Page</h3>
    <p>On the about page, you can specify several pieces of information:</p>
    <li>Section - This will appear as the header or title for that row/section</li>
    <li>Priority - Determines the order content will appear in, with 1 appearing at the top of the page</li>
    <li>Content - The text of the section, this does not render any html tags</li>
    <li>Image Source - An image to appear along with the content text</li>
    <br>
    <p>About contents will auto-arrange themselves on the page and resize appropriately for smaller screens</p>
</div>
