<div class='row'>
    <h3>The Contact Page</h3>
    <p>On the contact page you can edit</p>
    <li>Phone Number</li>
    <li>Address and office hours</li>
    <li>Email - emails from the link on teh contact page will be directed to this email</li>
</div>
