<div class='row'>
    <h3>The Home Page</h3>
    <p>On the homepage content management section you can edit:</p>
    <li>Banner Image - this image appears at the top of the home page above the slogan, use the provided guidelines in the image management section to set this</li>
    <li>Slogan - Text which appears just below the banner image</li>
    <li>Footer Left - left-most footer column on every page. HTML tags will be rendered here if they are present</li>
    <li>Footer Right - second footer column, again, HTML tags will be rendered if present</li>
</div>
