<div class='container'>
    <div class='row announcements'>
        <h3>Directions Page Content (Under Map Image)</h3>
        <%= render 'content_form', content: @address, section: 'address', page: 'find_us' %>
    </div>
</div>
