<div class='container'>
    <div class='row'><h2>Content Management</h2></div>
    <%= render 'pages/help/content/about' %>
    <%= render 'pages/help/content/find_us' %>
    <%= render 'pages/help/content/contact' %>
    <%= render 'pages/help/content/home' %>
</div>
