<%= link_to 'Check Us Out On Facebook', 'https://www.facebook.com/groups/38163126787/', class: 'btn btn-primary btn-lg btn-block' %>
<div class='facebookfeed'>
    <% @facebook_posts.each_with_index do |post, index| %>
        <% case post[:type] %>
        <% when :picture %>
            <%= render 'pages/home/facebook_photo', {post: post, index: index} %>
        <% when :status %>
            <%= render 'pages/home/facebook_status', {post: post, index: index} %>
        <% end %>
    <% end %>
</div>
<%= javascript_include_tag 'pages' %>

