<div class='imagecarousel'>
    <div id="fbc-image-carousel" class="carousel slide"><!-- class of slide for animation -->
        <div class="carousel-inner">
            <% @carousel_images.each_with_index do |img, index| %>
                <% if index == 0 %>
                    <div class="item CarouselImg active">
                <% else %>
                    <div class="item CarouselImg">
                <% end %>
                    <img class='CarouselImg' src="<%= img.url %>" alt="" />
                    <div class="carousel-caption">
                        <p><%= img.caption %></p>
                    </div>
                </div>
            <% end %>
        </div>
        <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
    </div>
</div>

<script>
  $(document).ready(function(){
  $('.carousel').carousel({interval: 4000});
  });
</script>
