<% content_for :title do %>About<% end %>
<div class='container'>
    <div class='row'>
        <div class='col-md-3 col-md-push-9'>
          <%= image_tag 'church.jpg' %>
        </div>
        <div class='col-md-9 col-md-pull-3'>
          <h3>Welcome</h3>
          <p>The mission of First Baptist Church is best represented by the following priorities: a strong, Biblically based, preaching ministry which communicates Christian theology in terms that are relevant to people's lives; a youth ministry which nurtures faith, commitment and discipleship; active programs of pastoral care, visitation, music, and involvement with members of the congregation; a ministry that leads people to make decisions for Christ and encourages their participation in the local church, community, and the world; a program of short-term Christian counseling; and a church environment which nurtures a sense of acceptance, inclusion, and caring. Our facilities are handicapped accessible.</p>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'>
            <%= image_tag 'pastor_stephanie.jpg' %>
        </div>
        <div class='col-md-9'>
            <h3>Our Pastor</h3>
            <p>The Rev. Stephanie A. Salinas is a graduate of New Brunswick Theological Seminary in New Brunswick, New Jersey. She and her husband and two sons united with us in August of 2002. Rev. Salinas is an enthusiastic preacher, a dedicated teacher, and a compassionate counselor. She is dedicated to mission locally and globally.</p>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3 col-md-push-9'>
            <%= image_tag 'youthchoir.jpg' %>
        </div>
        <div class='col-md-9 col-md-pull-3'>
            <h3>Worship and Music</h3>
            <p>Worship services include not only solid biblical preaching, but choirs, musicals, holiday cantatas, and Youth Sundays. At First Baptist, music is an integral part of our worship service, and the Music Director works closely with the Music and Worship Committees. Opportunities for participation in the music program abound: Adult, Youth, Junior, and Cherub Choirs, as well as Hand Bell and Chime Choirs are regular blessings in our service. Our congregation is home to many gifted musicians of many ages.</p>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'>
            <%= image_tag 'tanzania.jpg' %>
        </div>
        <div class='col-md-9'>
            <h3>Missions</h3>
            <p>Our church is very active in mission work, and many mission trips have been made to the Dominican Republic. One of the newer missions of our church, Operation Christmas Child, was very popular with many age groups during the Christmas season. We also recently sent a team to Tanzania as part of a mission with Kupenda for the Children.

            Locally, many members of First Baptist take part in the Dorothy Day Soup Kitchen, Habitat for Humanity, and more. In fact, it was a group from First Baptist Church that initiated the Habitat for Humanity of Greater Bangor.</p>
        </div>
    </div>
</div>
