<div class='container'>
    <div class='row'>
        <div class='col-md-6'>
            <%= mail_to @email do %>
                <h3>Email Us!</h3>
            <% end %>
            <br>
            <h3>Call Us!</h3>
            <h4><%= @phone %></h4>
        </div>
        <div class='col-md-6'>
            <h3>Or Come Visit Us!</h3>
            <%= @office.html_safe %>
        </div>
    </div>
</div>
