<div class='row'>
    <h2>Announcements</h2>
    <p>Use the announcements tab of the admin view to create announcements that will appear on the home page. The site will only show the most recent three announcements on the home page</p>
    <p>Click 'Edit' to change the current text of an announcement, or delete to remove that announcement, or...</p>
    <p>...Click 'New Announcement' to add a new announcement to the home page</p>
</div>
