<div class='row'>
    <h2>Event Calendar Management</h2>
    <p>The event calendar can only be edited while you are logged in as an admin user. Click on an event to pull up the details and edit it, or click on an empty area to create a new event on that date. The calendar can handle creating recurring events.</p>
</div>
