<div class='row'>
    <h2>Welcome to the Admin View!</h2>
    <p>The links across the top of this view provide a way to manage certain areas of content on the FBC Bangor site. The sections below outline how to use the admin view to update each section.</p>
    <br>
</div>
