<div class='row'>
    <h2>User Management</h2>
    <p>From the user management tab of the admin view, you can:</p>
    <li>Update the password for your own account</li>
    <li>Add new users who can manage and edit the website by adding their email and giving them a password</li>
    <li>Delete user accounts</li>
</div>
