<li><%= link_to 'Announcements', announcements_path %></li>
<li><%= link_to 'Events', events_path %></li>
<li><%= link_to 'Carousel Images', carousel_images_path %></li>
<li><%= link_to 'Log Out + Back to Main Site', destroy_user_session_path, method: :delete %></li>
