<div class='container'>
    <div class='row'>
        <div class='col-md-3'>
            <p>First Baptist of Bangor<br>56 Center Street<br>Bangor ME, 04401</p>
        </div>
        <div class='col-md-3'>
            <p>Weekly Services<br>Sunday 10:15 AM</p>
        </div>
        <div class='col-md-3'>
            <p>(207) - 945 - 9694</p>
            <p>Rev. Stephanie Salinas</p>
        </div>
        <div class='col-md-3'>
            <p>Links<br><a href='http://www.goodsearch.com'>Good Search</a></p>
        </div>
  </div>
</div>
